@page "/customer/edit/{customerId:int}"
@rendermode InteractiveServer
@inject DataService objService
@inject NavigationManager navigationManager

<PageTitle>Update Customer</PageTitle>

@if (customer.CustomerId == 0)
{
    <div class="alert alert-info" role="alert">
        <h1>Customer not found.</h1>
    </div>
}
else
{
    <h2>Update Customer</h2>
    <hr />

    <EditForm Model="@customer" OnValidSubmit="OnValidSubmit" FormName="newcustomer">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <input type="hidden" @bind="customer.CustomerId" />
                    <label for="Name" class="control-label">Name</label>
                    <input for="Name" class="form-control" @bind="customer.Name" />
                    <ValidationMessage For="@(() => customer.Name)" />
                </div>
                <div class="form-group">
                    <label for="City" class="control-label">City</label>
                    <input for="City" class="form-control" @bind="customer.City" />
                    <ValidationMessage For="@(() => customer.City)" />
                </div>
                <div class="form-group">
                    <label for="Country" class="control-label">Country</label>
                    <input for="Country" class="form-control" @bind="customer.Country" />
                    <ValidationMessage For="@(() => customer.Country)" />
                </div>
                <div class="form-group">
                    <label asp-for="Gender" class="control-label">Gender</label>
                    <select @bind="customer.Gender" class="form-select">
                        <option value="">Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <ValidationMessage For="@(() => customer.Gender)" />
                </div>
            </div>
        </div>
        <div class="row mb-3"></div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <input type="button" @onclick="Cancel" class="btn btn-secondary" value="Cancel" />
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public int customerId { get; set; }

    Customer customer = new Customer();

    protected override async Task OnInitializedAsync()
    {
        customer = await Task.Run(() => objService.GetCustomerById(customerId));
    }

    protected void OnValidSubmit()
    {
        objService.UpdateCustomer(customer);
        navigationManager.NavigateTo("/customer");
    }

    protected void Cancel()
    {
        navigationManager.NavigateTo("/customer");
    }
}